.main
    min-height: 100%;
    padding: 0 15px;
    margin: 0;
    text-align: center;
    background: white;
    box-sizing: border-box;

.breadcrumb-wrapper
    margin-bottom: 40px;
    line-height: 40px;
    text-align: left;
    border-bottom: 1px solid rgba(228, 228, 228, 1);

.k-table .k-tbody
    text-align: left;
